/* Add fonts */
@import url('https://use.typekit.net/nnh0eap.css');

@font-face {
  font-display: swap;
  font-family: ivypresto-display, serif;
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-display: swap;
  font-family: ivypresto-display, serif;
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-display: swap;
  font-family: adobe-caslon-pro, serif;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-display: swap;
  font-family: adobe-caslon-pro, serif;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-display: swap;
  font-family: montserrat-light, serif;
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-display: swap;
  font-family: montserrat-medium, serif;
  font-style: normal;
  font-weight: 500;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

a:focus,
button:focus {
  outline-color: #8e8b7c;
}

/* Custom grid */
.css-custom-grid {
  display: grid;
  grid-template-columns: 6% 20% 5.5% 18.5% 6% 32% 6% 6%;
  grid-template-rows: auto;
}

/* Add writing mode */
.css-writing-mode {
  writing-mode: vertical-rl;
}

@media (min-width: 1024px) {
  .css-writing-mode {
    writing-mode: inherit;
  }
}

/* Add clip path to images */
@media (min-width: 1024px) {
  .css-clip-path {
    clip-path: url('#clip-path-full');
  }
}

/* Add elements after pseudoclass */
.js-list-label {
  position: relative;
}

.js-list-label::after {
  background-image: url('/src/images/arrow-down.svg');
  height: 0.625rem;
  transform: rotate(180deg);
}

.js-list-label--rotate::after {
  transform: rotate(0deg);
}

@media (min-width: 1024px) {
  .js-list-label::after {
    background-image: none;
  }
}

#footer::before {
  background-image: url('/src/images/pattern-small.svg');
}

@media (min-width: 1024px) {
  #footer::before {
    background-image: url('/src/images/pattern-large.svg');
    background-position-x: right;
  }
}